.pwa{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 150px;
    width: 100%;
    background-color: #2f44a5;
    color: #fff;
    font-size: 20px;
}
.pwa-btn {
    border-radius: 50px;
    border: none;
    padding: 10px;
    transition: 0.3s;
    font-size: 20px;
    cursor: pointer;
}
.install{
    background-color: #fff;
    color: #2f44a5;
}
.install:hover{
    background-color: #182d86;
    color: #fff;
}
.dismiss{
    color: #fff;
    background-color: #182d86;
}
.dismiss:hover{
    background-color: #fff;
    color: #2f44a5;
}